Merged Creeds and Encode metadata files to identify the TF data overlaping between them and map it for testing.

In [1]:
import pandas as pd

In [53]:
# CREEDS metadata
df = pd.read_csv('/creeds_metadata.csv')
df.head()

,id,cell_type,chdir_norm,ctrl_ids,curator,geo_id,hs_gene_symbol,mm_gene_symbol,organism,pert_ids,pert_type,platform,version
0,gene_2005,"liver tissue, n-nitrosodiethylamine treatment",NaN,GSM217220|GSM217222|GSM217224|GSM217234|GSM217235,Andrew,GSE8747,MET,Met,mouse,GSM217225|GSM217227|GSM217236|GSM217237|GSM217238,knockout,GPL4200,1
1,gene_2006,"liver tissue, n-nitrosodiethylamine treatment",NaN,GSM217219|GSM217221|GSM217223|GSM217229|GSM217230,Andrew,GSE8747,MET,Met,mouse,GSM217226|GSM217228|GSM217231|GSM217232|GSM217233,knockout,GPL4200,1
2,gene_2007,"liver tissue, n-nitrosodiethylamine treatment",NaN,GSM217201|GSM217203|GSM217205|GSM217207|GSM217209,Andrew,GSE8747,MET,Met,mouse,GSM217211|GSM217213|GSM217216|GSM217218,knockout,GPL4200,1
3,gene_2000,"primary hepatocytes, HGF stimulation",NaN,GSM100094|GSM100095|GSM100096|GSM100097|GSM100...,Andrew,GSE4451,MET,Met,mouse,GSM100088|GSM100089|GSM100090|GSM100091|GSM100...,knockout,GPL1536,1
4,gene_2001,"primary hepatocytes, HGF stimulation",NaN,GSM100100|GSM100101|GSM100102|GSM100103|GSM100...,Andrew,GSE4451,MET,Met,mouse,GSM100051|GSM100053|GSM100106|GSM100107|GSM100...,knockout,GPL1536,1

In [54]:
# ENCODE data
dfenc = pd.read_csv('/enc2000.csv', sep=',',low_memory=False)
dfenc.head()

,ARID1B_K562,ARID3A_HepG2,ARID3A_MCF7,ARID3A_K562,ARNT_K562,ATF1_K562,ATF2_GM12878,ATF3_K562,ATF3_liver,ATF3_liver.1,...,ZNF384_K562,ZNF384_HepG2,ZNF407_K562,ZNF592_MCF7,ZNF592_MCF7.1,ZNF687_MCF7,ZSCAN29_K562,ZZZ3_GM12878,ZZZ3_K562,ZZZ3_HeLaS3
0,ATP5SL,LBX2-AS1,METTL25,SSBP1,TAF1A,FASTKD1,TRIM17,C16orf70,MIR4286,ZNF593,...,PIGW,MIPEP,SLC2A5,DSCAM-AS1,FAM133DP,LOC101927272,DCAF6,REXO4,MYLPF,ISY1
1,ARF5,PUS1,EPX,EIF2AK4,ZNF548,SNAP25,CGB1,SUMO3,DPAGT1,ZCRB1,...,PTGES2-AS1,FOXD2,METTL7B,C1QTNF6,COA4,NAA15,NR2F1,C17orf75,CDKN1B,NREP
2,LINC01386,ZNF708,TIPARP-AS1,CUL4A,KDM5A,STAG3L5P,ODF3L1,NUBPL,RDH11,MIR3913-1,...,YTHDC1,TUFM,HSPE1-MOB4,POP7,NAT14,FBXO6,GATAD2A,MRPS31P5,ZGRF1,C17orf75
3,SLC16A13,ZNF614,LOC101928009,C12orf60,SNHG20,SNHG8,G6PD,GPAM,LCE2C,PLK3,...,BRD2,SNORD114-7,PEX16,USP30,RAB4B,BRE,SEPT7P9,NME1-NME2,SLC25A25,ZBTB20-AS4
4,SLC39A13,ZC3H13,VSIG2,STX8,HCFC1R1,SRP14,TRIP6,ANGEL1,LINC01128,SNHG17,...,COG8,TAAR3,MIR7703,ATE1-AS1,ARFIP2,NEIL2,LRR1,TOP3B,SNORD104,BRWD3

In [67]:
enclist = dfenc.columns.tolist()
dfenc2 = pd.DataFrame(enclist)
dfenc2.columns = ['name']

In [56]:
dfenc2['hs_gene_symbol'] = dfenc2['name'].str.split('_').str[-2]
dfenc2.head()

           name hs_gene_symbol
0   ARID1B_K562         ARID1B
1  ARID3A_HepG2         ARID3A
2   ARID3A_MCF7         ARID3A
3   ARID3A_K562         ARID3A
4     ARNT_K562           ARNT

In [66]:
# merge both files - on 'hs gene symbol' -
final = pd.merge(df,dfenc2, how = 'inner', on =['hs_gene_symbol'])
final.head(3)

,id,cell_type,chdir_norm,ctrl_ids,curator,geo_id,hs_gene_symbol,mm_gene_symbol,organism,pert_ids,pert_type,platform,version,name
0,gene_2034,"CD4+ T cell, TCR stimulated",NaN,GSM798461|GSM798462|GSM798463|GSM798464,Andrew,GSE32224,TRIM28,Trim28,mouse,GSM798469|GSM798470|GSM798471|GSM798472,knockout,GPL7202,1,TRIM28_K562
1,gene_2034,"CD4+ T cell, TCR stimulated",NaN,GSM798461|GSM798462|GSM798463|GSM798464,Andrew,GSE32224,TRIM28,Trim28,mouse,GSM798469|GSM798470|GSM798471|GSM798472,knockout,GPL7202,1,TRIM28_HEK293
2,gene_2034,"CD4+ T cell, TCR stimulated",NaN,GSM798461|GSM798462|GSM798463|GSM798464,Andrew,GSE32224,TRIM28,Trim28,mouse,GSM798469|GSM798470|GSM798471|GSM798472,knockout,GPL7202,1,TRIM28_U2OS

In [65]:
dff = final[['id', 'hs_gene_symbol','name']]
dff.head()

          id hs_gene_symbol           name
0  gene_2034         TRIM28    TRIM28_K562
1  gene_2034         TRIM28  TRIM28_HEK293
2  gene_2034         TRIM28    TRIM28_U2OS
3  gene_2034         TRIM28  TRIM28_K562.1
4  gene_2033         TRIM28    TRIM28_K562

In [62]:
dff['identification'] = dff[['hs_gene_symbol', 'name']].apply(lambda x: '_'.join(x), axis=1)
#dff.duplicated()
#dff.head()
#dff.to_csv()

In [64]:
# Sample IDs the overlap 
dff['sample'] = dff[['name','id']].apply(lambda x: '_'.join(x), axis=1)
dff.head(3)

,id,hs_gene_symbol,name,identification,sample
0,gene_2034,TRIM28,TRIM28_K562,TRIM28_TRIM28_K562,TRIM28_K562_gene_2034
1,gene_2034,TRIM28,TRIM28_HEK293,TRIM28_TRIM28_HEK293,TRIM28_HEK293_gene_2034
2,gene_2034,TRIM28,TRIM28_U2OS,TRIM28_TRIM28_U2OS,TRIM28_U2OS_gene_2034

In [60]:
# Acessing data # Defining overlap to be tested
# Create a dataframe for tested where row has list A| listB

# Append Columns to "matrix", 
go = []
for row in dff['name']:
    a = 'go.obj <- newGeneOverlap(encode$%s' %(row)
    go.append(a)
go = pd.DataFrame(go)
# go.head()

gob = []
for row in dff['id']:
    b = 'creeds$%s'%(row) 
    gob.append(b)
gob = pd.DataFrame(gob)
# gob.head()

## Concatenayed Columns
gobject = pd.concat([go,gob],axis=1)
gobject.columns = ['A', 'B']
gobject.to_csv('gobject.csv',index=False) # save it to open in R in the other tab

gobject.head()

                                               A                 B
0    go.obj <- newGeneOverlap(encode$TRIM28_K562  creeds$gene_2034
1  go.obj <- newGeneOverlap(encode$TRIM28_HEK293  creeds$gene_2034
2    go.obj <- newGeneOverlap(encode$TRIM28_U2OS  creeds$gene_2034
3  go.obj <- newGeneOverlap(encode$TRIM28_K562.1  creeds$gene_2034
4    go.obj <- newGeneOverlap(encode$TRIM28_K562  creeds$gene_2033

This file was used to map gene lists between Creeds and Encode. 
 The Overlaps were tested using the GeneOverlap package R package.

# Overlap output

Clean/ Organize/ Standardize output from gene overlap comparisons.

In [71]:
import re

# List of words to delete
delete = ['size','#','\n','Index',]

# Data to keep 
words = ['listA', 'listB','Intersection','Overlapping p-value', 'Odds ratio','Union','Jaccard Index']


rep = re.compile(r'|'.join(delete))
keep = re.compile(r'|'.join(words))

data = []
with open('/Overlap.txt') as f1:
    for line in f1:
        if keep.search(line):
            # replace all unwanted substrings
            line = rep.sub("", line.lstrip())     
            line=line.split('=')
#             print(line)
            data.append(line)


df = pd.DataFrame(data)

df.columns = ['ca', 'value']
df['value'] = df.value.str.split(',').str.get(0)  # split value column at the , and que left side of string


df.head()

                    ca value
0               listA   2000
1               listB    365
2        Intersection     20
3               Union   2345
4  Overlapping p-value     1

In [72]:
listA = df[df['ca'].str.contains("listA")]
listB = df[df['ca'].str.contains("listB")]
intersection = df[df['ca'].str.contains("Intersection")]
union = df[df['ca'].str.contains("Union")]
pval= df[df['ca'].str.contains("Overlapping p-value")]
odds= df[df['ca'].str.contains("Odds ratio")]
#jaccard= df[df['ca'].str.contains("Jaccard Index")]

In [75]:
# Creating table from the txt file

listA.columns = ['value','listA']
listA = listA.T
listA = listA.T
listA1 = listA.reset_index(drop=True) # Reset index to be able to concatenate it easily

listB.columns = ['value','listB']
listB = listB.T
listB = listB.T
listB1 = listB.reset_index(drop=True)

intersection.columns = ['value','intersection']
intersection = intersection.T
intersection = intersection.T
intersection1 = intersection.reset_index(drop=True)

union.columns = ['value','union']
union = union.T
union = union.T
union1 = union.reset_index(drop=True)

pval.columns = ['value','pval']
pval = pval.T
pval = pval.T
pval1 = pval.reset_index(drop=True)

odds.columns = ['value','odds']
odds = odds.T
odds = odds.T
odds1 = odds.reset_index(drop=True)

#jaccard.columns = ['value','jaccard']
#jaccard = jaccard.T
#jaccard = jaccard.T
#jaccard = jaccard.reset_index(drop=True)
#jaccard.head()

In [81]:
concat = pd.concat([sample,listA1,listB1,intersection1,union1,pval1,odds1],axis=1)
concat.head(11)

,id,sample,value,listA,value,listB,value,intersection,value,union,value,pval,value,odds
0,gene_2034,TRIM28_K562_gene_2034,listA,2000,listB,365,Intersection,20,Union,2345,Overlapping p-value,1,Odds ratio,0.5
1,gene_2034,TRIM28_HEK293_gene_2034,listA,2000,listB,0,Intersection,0,Union,2000,Overlapping p-value,1,Odds ratio,0.0
2,gene_2034,TRIM28_U2OS_gene_2034,listA,2000,listB,0,Intersection,0,Union,2000,Overlapping p-value,1,Odds ratio,0.0
3,gene_2034,TRIM28_K562.1_gene_2034,listA,2000,listB,0,Intersection,0,Union,2000,Overlapping p-value,1,Odds ratio,0.0
4,gene_2033,TRIM28_K562_gene_2033,listA,2000,listB,0,Intersection,0,Union,2000,Overlapping p-value,1,Odds ratio,0.0
5,gene_2033,TRIM28_HEK293_gene_2033,listA,2000,listB,0,Intersection,0,Union,2000,Overlapping p-value,1,Odds ratio,0.0
6,gene_2033,TRIM28_U2OS_gene_2033,listA,2000,listB,0,Intersection,0,Union,2000,Overlapping p-value,1,Odds ratio,0.0
7,gene_2033,TRIM28_K562.1_gene_2033,listA,2000,listB,0,Intersection,0,Union,2000,Overlapping p-value,1,Odds ratio,0.0
8,gene_2032,TRIM28_K562_gene_2032,listA,2000,listB,263,Intersection,39,Union,2224,Overlapping p-value,8.1e-03,Odds ratio,1.6
9,gene_2032,TRIM28_HEK293_gene_2032,listA,2000,listB,203,Intersection,30,Union,2173,Overlapping p-value,0.019,Odds ratio,1.6
10,gene_2032,TRIM28_U2OS_gene_2032,listA,2000,listB,220,Intersection,34,Union,2186,Overlapping p-value,6.9e-03,Odds ratio,1.7

In [80]:
clean = concat.drop('value',axis=1)
clean.head()

          id                   sample listA listB intersection union pval odds
0  gene_2034    TRIM28_K562_gene_2034  2000   365           20  2345    1  0.5
1  gene_2034  TRIM28_HEK293_gene_2034  2000     0            0  2000    1  0.0
2  gene_2034    TRIM28_U2OS_gene_2034  2000     0            0  2000    1  0.0
3  gene_2034  TRIM28_K562.1_gene_2034  2000     0            0  2000    1  0.0
4  gene_2033    TRIM28_K562_gene_2033  2000     0            0  2000    1  0.0